//変数管理

//font-family
$font-en: "Noto Serif", sans-serif;
$font-jp: "Noto Serif JP", sans-serif;

//******レスポンシブ対応******
//ブレイクポイント
$mb: 767px;

//@mediaのフォーマット
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

//全体の設定
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//共通ボタン
.btn {
  padding: 19px 71px 19px 71px;
  box-shadow: 0 0 6px #1b1310;
  border-radius: 51px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #171717;
  &.--yellow {
    background-color: #f7d43f;
    border: solid 1px #f7d43f;
  }

  &--center {
    text-align: center;
    margin-top: 80px;
  }
}

//共通画面
body {
  width: 100%;
  max-width: 100%;
  font-family: "Noto Serif", "Noto Serif JP", sans-serif;
}

//ここからヘッダー

.header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s;
  color: white;
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    font-style: italic;
    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  &.fixed {
    position: fixed;
    background-color: #282f35;
    width: 100%;
    transition: 0.3s;
  }

  &.transform {
    background-color: #282f35;
  }

  &__ttl {
    font-size: 26px;
  }
}
//ここからnav
.nav {
  @include mobile {
    display: none;
  }

  &__lists {
    display: flex;
    align-items: center;
  }
  &__list {
    color: white;
    list-style: none;
    a {
      text-decoration: none;
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: white;
      }
    }
  }
  &__list + &__list {
    padding-left: 30px;
  }
}

//******ここからスマホ版ハンバーガーメニュー******
//ハンバーガーの部分
.nav__toggle {
  display: none;
  cursor: pointer;
  @include mobile {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 25px;
    height: 16px;
  }
}
.nav__toggle i {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 3;
}

.nav__toggle i:nth-child(1) {
  top: 0;
}
.nav__toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav__toggle i:nth-child(3) {
  bottom: 0;
}

//タップ後のハンバーガー
//１つ目のspanを-45度にする
.nav__toggle.active i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

//2番目と3番目のspanを45度に
.nav__toggle.active i:nth-child(2) {
  opacity: 0;
}
.nav__toggle.active i:nth-child(3) {
  transform: translateY(-4px) rotate(45deg);
}

//スライドメニュー
.nav2 {
  display: none;
  @include mobile {
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    transition: all 0.3s;
    background-color: #282f35;

    &__hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }

    &__list {
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      list-style: none;
      text-align: center;
      & a {
        text-decoration: none;
        color: white;
      }
    }

    &__item + &__item {
      margin-top: 50px;
    }
  }
}

.nav2.active {
  transform: translateX(0);
}

//ここからファーストビューの文字
.fv {
  height: 50vh;
  min-height: 550px;
  position: relative;
  img {
    height: 50vh;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &__copy {
    position: absolute;
    bottom: 177px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #fff;
    width: 100%;
  }
  &__ttl {
    font-size: 7rem;
    margin-bottom: 31px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
    @include mobile {
      font-size: 9.8vw;
    }
  }
  &__txt {
    font-size: 90px;
    color: rgba(255, 255, 255, 0.1);
    text-align: left;
    padding-left: 4vw;
    @include mobile {
      font-size: 8vw;
    }
  }
}

//ここからメイン
.contact {
  font-family: $font-jp;
  margin-top: 100px;
  @include mobile {
    overflow: hidden;
    margin: 4vw;
  }
  &__ttl {
    font-size: 16px;
    font-weight: bold;
  }
  &__item {
    font-size: 16px;
    margin-top: 25px;
    font-weight: bold;
    input {
      height: 30px;
      width: 100%;
    }
    textarea {
      height: 171px;
      width: 100%;
      margin-top: 0;
    }
    @include mobile {
      width: 100%;
    }
  }
  &__wrap {
    width: 700px;
    height: 630px;
    margin: 0 auto;
    @include mobile {
      width: 100%;
      height: 100vh;
    }
  }
}

//contact > checkbox
.checkbox {
  font-family: $font-jp;

  &__list {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    list-style: none;
    @include mobile {
      margin-top: 15px;
    }
  }

  &__item + &__item {
    padding-left: 20px;
    @include mobile {
      padding-left: 0;
      margin-top: 5px;
    }
  }
}

//ここからフッター
.footer {
  &__wrap {
    text-align: center;
  }
  &__txt {
    color: #282f35;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 0;
  }
}
