* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  padding: 19px 71px 19px 71px;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
  border-radius: 51px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Noto Serif", sans-serif;
  margin: 80px auto;
}

.btn.--yellow {
  background-color: #f7d43f;
  border: solid 1px #f7d43f;
}

.btn--center {
  text-align: center;
}

body {
  width: 100%;
  max-width: 100%;
}

.header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Noto Serif", sans-serif;
  color: white;
}

.header a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  font-style: italic;
}

.header a:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header.fixed {
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header.transform {
  background-color: #282f35;
}

.header__ttl {
  font-size: 26px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  color: white;
  list-style: none;
}

.nav__item a {
  text-decoration: none;
}

.nav__item a:link, .nav__item a:visited, .nav__item a:hover, .nav__item a:active {
  color: white;
}

.nav__item + .nav__item {
  padding-left: 30px;
}

.nav__toggle {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__toggle {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 25px;
    height: 16px;
  }
}

.nav__toggle i {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  z-index: 3;
}

.nav__toggle i:nth-child(1) {
  top: 0;
}

.nav__toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav__toggle i:nth-child(3) {
  bottom: 0;
}

.nav__toggle.active i:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.nav__toggle.active i:nth-child(2) {
  opacity: 0;
}

.nav__toggle.active i:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
}

.nav2 {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav2 {
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #282f35;
  }
  .nav2__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .nav2__item {
    font-size: 16px;
    font-family: "Noto Serif", sans-serif;
    font-weight: bold;
    font-style: italic;
    list-style: none;
    text-align: center;
  }
  .nav2__item a {
    text-decoration: none;
    color: white;
  }
  .nav2__item + .nav2__item {
    padding-top: 50px;
  }
}

.nav2.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fv {
  height: 50vh;
  min-height: 550px;
  position: relative;
}

.fv img {
  height: 50vh;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fv__copy {
  position: absolute;
  bottom: 177px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #fff;
  width: 100%;
}

.fv__ttl {
  font-size: 7rem;
  margin-bottom: 31px;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-family: "Noto Serif", sans-serif;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .fv__ttl {
    font-size: 9.8vw;
  }
}

.fv__txt {
  font-family: "Noto Serif", sans-serif;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.1);
  text-align: left;
  padding-left: 4vw;
}

@media screen and (max-width: 767px) {
  .fv__txt {
    font-size: 8vw;
  }
}

.contact {
  font-family: "Noto Serif JP", sans-serif;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .contact {
    overflow: hidden;
    margin: 4vw;
  }
}

.contact__ttl {
  font-size: 16px;
  font-weight: bold;
}

.contact__item {
  font-size: 16px;
  padding-top: 25px;
  font-weight: bold;
}

.contact__item input {
  height: 30px;
  width: 100%;
}

.contact__item textarea {
  height: 171px;
  width: 100%;
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  .contact__item {
    width: 100%;
  }
}

.contact__wrap {
  width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .contact__wrap {
    width: 100%;
  }
}

.checkbox {
  font-family: "Noto Serif JP", sans-serif;
}

.checkbox__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .checkbox__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.checkbox__item {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .checkbox__item {
    padding-top: 15px;
  }
}

.checkbox__item + .checkbox__item {
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .checkbox__item + .checkbox__item {
    padding-left: 0;
    padding-top: 5px;
  }
}

.footer__wrap {
  text-align: center;
}

.footer__txt {
  color: #282f35;
  font-size: 14px;
  font-weight: bold;
  font-family: "Noto Serif", sans-serif;
  padding: 30px 0;
}
/*# sourceMappingURL=contact.css.map */