//******変数管理******

//font-family
$font-jp: "Noto Serif JP", sans-serif;
$font-en: "Noto Serif", sans-serif;

//color
$main-color: #171717;

//******レスポンシブ対応******
//ブレイクポイント
$mb: 767px;

//@mediaのフォーマット
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

//画像のレスポンシブ設定
@mixin img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

//******全体の設定******
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//共通画面
body {
  width: 100%;
  max-width: 100%;
  font-family: "Noto Serif", "Noto Serif JP", sans-serif;
}

//共通marginクラス
.marginTop70 {
  margin-top: 70px;
}

//******全ページ共通ボタン******
.btn {
  display: inline-block;
  width: 235px;
  height: 59px;
  line-height: 59px;
  box-shadow: 0 0 6px #1b1310;
  border-radius: 51px;
  font-weight: bold;
  font-size: 16px;
  font-family: $font-en;
  text-decoration: none;
  color: #171717;

  &--yellow {
    background-color: #f7d43f;
    border: solid 1px #f7d43f;
  }

  &--center {
    text-align: center;
    margin-top: 30px;
  }
}

//****** 共通section > grayの飾り文字 ******

.main {
  @include mobile {
    overflow: hidden;
  }
  &__txt {
    font-size: 90px;
    color: rgba(23, 23, 23, 0.05);
    text-align: right;
    padding: 70px 0;
    @include mobile {
      font-size: 40px;
      padding-top: 40 0px;
      color: rgba(23, 23, 23, 0.2);
    }

    &.--right {
      margin-right: -88px;
      @include mobile {
        margin: 0;
      }
    }

    &.--right2 {
      margin-right: 8.2%;
      @include mobile {
        margin-left: 4vw;
      }
    }

    &.--left {
      text-align: left;
      color: rgba(255, 255, 255, 0.1);
      margin-left: -9.8%;
      @include mobile {
        margin: 0;
      }
    }

    &.--left2 {
      color: rgba(255, 255, 255, 0.1);
      text-align: left;
    }
  }
}

//******共通セクション > 各セクションのタイトル******
.main {
  &__ttl {
    font-size: 60px;
    color: #282f35;
    font-style: italic;
    font-weight: bold;
    padding-top: 100px;
    @include mobile {
      font-size: 30px;
    }
    &::after {
      content: "";
      background-color: #282f35;
      display: inline-block;
      width: 200px;
      height: 5px;
      margin-left: 30px;
      vertical-align: middle;
      @include mobile {
        width: 90px;
      }
    }
    &.white {
      color: white;
      &::after {
        background-color: white;
      }
    }
    &.right {
      text-align: right;
    }

    &.left {
      padding-left: 220px;
      @include mobile {
        padding-left: 4vw;
      }
    }
  }
}

//******改行の位置******
//spのみ改行を入れる
.br-sp {
  display: none;
  @include mobile {
    display: block;
  }
}

//pcのみ改行を入れる
.br-pc {
  @include mobile {
    display: none;
  }
}

//******ここからヘッダー******
.header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s;
  color: white;
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    font-style: italic;
    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  &.fixed {
    position: fixed;
    background-color: #282f35;
    width: 100%;
    transition: 0.3s;
  }

  &.transform {
    background-color: #282f35;
  }

  &__ttl {
    font-size: 26px;
  }
}

//******ここからnav******
.nav {
  @include mobile {
    display: none;
  }

  &__lists {
    display: flex;
    align-items: center;
  }
  &__list {
    color: white;
    list-style: none;
    a {
      text-decoration: none;
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: white;
      }
    }
  }
  &__list + &__list {
    padding-left: 30px;
  }

  @include mobile {
    display: none;
  }
}

//******ここからスマホ版ハンバーガーメニュー******
//ハンバーガーの部分
.nav__toggle {
  display: none;
  cursor: pointer;
  @include mobile {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 25px;
    height: 16px;
  }
}
.nav__toggle i {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 3;
}

.nav__toggle i:nth-child(1) {
  top: 0;
}
.nav__toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav__toggle i:nth-child(3) {
  bottom: 0;
}

//タップ後のハンバーガー
//１つ目のspanを-45度にする
.nav__toggle.active i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

//2番目と3番目のspanを45度に
.nav__toggle.active i:nth-child(2) {
  opacity: 0;
}
.nav__toggle.active i:nth-child(3) {
  transform: translateY(-4px) rotate(45deg);
}

//SPスライドメニュー
.nav2 {
  display: none;
  @include mobile {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    transition: all 0.3s;
    background-color: #282f35;

    &__hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }

    &__item {
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      list-style: none;
      text-align: center;
      & a {
        text-decoration: none;
        color: white;
      }
    }

    &__item + &__item {
      margin-top: 50px;
    }
  }
}

.nav2.active {
  transform: translateX(0);
  display: block;
}

//******ここからファーストビューの文字******
.fv {
  height: 100vh;
  min-height: 550px;
  position: relative;
  img {
    height: 100vh;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &__copy {
    position: absolute;
    left: 120px;
    bottom: 177px;
    color: white;
    font-weight: bold;
    @include mobile {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }
  &__ttl {
    font-size: 7rem;
    @include mobile {
      font-size: 9.8vw;
    }
  }

  &__txt {
    font-size: 4rem;
    text-align: center;
    font-family: $font-jp;
    margin-top: 31px;
    @include mobile {
      font-size: 8vw;
    }
  }
}
//スライドショー の次へ・戻るボタン非表示
.slick-arrow {
  display: none !important;
}

//******ここからメイン > コンセプト******
.concept {
  &__wrap {
    margin: 0 15.2%;
    @include mobile {
      margin: 0 4vw;
    }
  }

  &__txt {
    font-size: 30px;
    color: #171717;
    text-align: center;
    margin-top: 70px;
    font-family: $font-jp;
    @include mobile {
      font-size: 20px;
      font-weight: bold;
      width: 336px;
      white-space: nowrap;
      margin: 70px auto 0px auto;
    }
  }

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    @include mobile {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 440px;
    line-height: 1.87;
    font-size: 16px;
    padding-right: 20px;
    font-weight: bold;
    font-family: $font-jp;
    @include mobile {
      padding-right: 0;
      max-width: 100%;
      width: 100%;
      padding-bottom: 30px;
    }
  }

  &__right {
    @include mobile {
      max-width: 100%;
    }
  }
}

//******ここからメイン > ワーク******
.works {
  background-image: url(https://github.com/haru-programming/coding_practice--2/blob/master/img/works-bgi@2x.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 70px;

  &__wrap {
    margin: 0 15.2%;
    @include mobile {
      margin: 0 4vw;
    }
  }

  &__ttl {
    color: white;
    font-size: 50px;
    font-style: italic;
    text-align: right;
    padding-right: 48px;
    letter-spacing: 0.1em;
    font-weight: bold;
    @include mobile {
      font-size: 30px;
      font-weight: bold;
      padding-right: 30px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    border: 1px solid #282f35;
    max-width: 320px;
    box-shadow: 0 0 6px black;
    font-size: 16px;
    @include mobile {
      max-width: 100%;
      & + .works__item {
        margin-top: 30px;
      }
    }

    img {
      vertical-align: bottom;
      @include mobile {
        @include img-responsive;
      }
    }
  }

  &__txt {
    background-color: white;
    padding: 25px 20px;
    letter-spacing: 0.05em;
    font-family: $font-jp;
    &--center {
      padding: 25px 20px 48px 20px;
      background-color: white;
      letter-spacing: 0.05em;
    }
  }
}

//******ここからメイン > サービス******
.service {
  &__wrap {
    width: 100vw;
    max-width: 100%;
  }

  &__ttl {
    font-size: 50px;
    color: #282f35;
    font-style: italic;
    letter-spacing: 0.1em;
    padding-right: 29px;
    font-weight: bold;
    @include mobile {
      font-size: 30px;
    }
  }

  &__lists {
    display: flex;
    margin-top: 80px;
    @include mobile {
      flex-direction: column;
    }
  }
  &__list {
    width: 33.3%;
    list-style: none;
    @include mobile {
      width: 100%;
    }

    a {
      text-decoration: none;
      width: 100%;
      display: block;
      text-align: center;
      color: white;
      line-height: 320px;
      font-size: 40px;
      font-weight: bold;
      font-style: italic;
      transition: 0.3s;
      &:hover {
        background-color: rgba(40, 47, 53, 0.7);
        transition: 0.3s;
      }
    }
    &.left {
      background-image: url(../img/service-img01@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.center {
      background-image: url(../img/service-img02@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.right {
      background-image: url(../img/sevice-img03@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @include mobile {
    &__list + &__list {
      margin-top: 30px;
    }
  }
}

//******ここからメイン > コンタクト******
.contact {
  margin-top: 70px;
  width: 100%;
  background-image: url(../img/contact-bgi@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__wrap {
    margin: 0 8.2%;
    @include mobile {
      margin: 0 4vw;
    }
  }

  &__ttl {
    color: white;
    font-size: 50px;
    font-style: italic;
    text-align: right;
    letter-spacing: 0.1em;
    padding-right: 30px;
    font-weight: bold;
    @include mobile {
      font-size: 30px;
    }
  }

  &__txt {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: $font-jp;
    @include mobile {
      font-size: 20px;
    }
  }
}

//******ここからフッター******
.footer {
  &__wrap {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  &__txt {
    color: #282f35;
    font-size: 14px;
    font-weight: bold;
  }
}
