* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
}

.btn {
  padding: 19px 71px 18px 71px;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
  border-radius: 51px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Noto Serif", sans-serif;
}

.btn--yellow {
  background-color: #f7d43f;
  border: solid 1px #f7d43f;
}

.btn--center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .main {
    overflow: hidden;
  }
}

.main__right {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .main__right {
    width: 90px;
  }
}

.main__right.borderBlack {
  border-top: 5px solid #282f35;
}

.main__right.borderWhite {
  border-top: 5px solid white;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
  padding-top: 104px;
}

.main__flex.--works {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -8.2%;
}

@media screen and (max-width: 767px) {
  .main__flex.--works {
    margin-right: 4vw;
  }
}

.main__flex.--service {
  margin-left: 15.2%;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .main__flex.--service {
    margin-left: 4vw;
  }
}

.main__flex.--contact {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__txt {
  font-family: "Noto Serif", sans-serif;
  font-size: 90px;
  color: rgba(23, 23, 23, 0.05);
  text-align: right;
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .main__txt {
    font-size: 40px;
    padding-top: 40px;
  }
}

.main__txt.--right {
  margin-right: -88px;
}

@media screen and (max-width: 767px) {
  .main__txt.--right {
    margin: 0;
  }
}

.main__txt.--right2 {
  margin-right: 8.2%;
}

@media screen and (max-width: 767px) {
  .main__txt.--right2 {
    margin-left: 4vw;
  }
}

.main__txt.--left {
  text-align: left;
  margin-left: -9.8%;
  color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767px) {
  .main__txt.--left {
    margin: 0;
  }
}

.main__txt.--left2 {
  color: rgba(255, 255, 255, 0.1);
  text-align: left;
}

@media screen and (max-width: 767px) {
  .main__txt.--left2 {
    margin: 0;
  }
}

.header {
  color: white;
  width: 100%;
  height: 752px;
  background-image: url(../img/fv-bgi_01@2x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  min-height: 599px;
}

@media screen and (max-width: 767px) {
  .header {
    background-size: cover;
    background-position-x: center;
    height: 100vh;
  }
}

.header__wrap {
  margin: 0 8.3%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 96px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Serif", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 8.3%;
  font-weight: bold;
  font-style: italic;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__top.transform {
  background-color: #282f35;
}

.header__ttl {
  font-size: 26px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  color: white;
  list-style: none;
}

.nav__item a {
  text-decoration: none;
}

.nav__item a:link, .nav__item a:visited, .nav__item a:hover, .nav__item a:active {
  color: white;
}

.nav__item + .nav__item {
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav2 {
  display: none;
}

.nav__toggle {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav__toggle {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 25px;
    height: 16px;
  }
}

.nav__toggle i {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.nav__toggle i:nth-child(1) {
  top: 0;
}

.nav__toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav__toggle i:nth-child(3) {
  bottom: 0;
}

.fv {
  position: absolute;
  font-weight: bold;
  top: 50%;
  color: white;
}

@media screen and (max-width: 767px) {
  .fv {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
}

.fv__ttl {
  font-size: 70px;
  font-family: "Noto Serif", sans-serif;
  padding-left: 120px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .fv__ttl {
    font-size: 9.8vw;
    text-align: center;
    padding-left: 0;
  }
}

.fv__txt {
  font-size: 40px;
  font-family: "Noto Serif JP", sans-serif;
  padding-left: 140px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .fv__txt {
    font-size: 8vw;
    padding-top: 32px;
    padding-left: 0;
    text-align: center;
  }
}

.br-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .br-pc {
    display: none;
  }
}

.concept__wrap {
  margin: 0 15.2%;
}

@media screen and (max-width: 767px) {
  .concept__wrap {
    margin: 0 4vw;
  }
}

.concept__ttl {
  font-size: 50px;
  color: #282f35;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  padding-right: 30px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .concept__ttl {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
  }
}

.concept__txt {
  font-size: 30px;
  color: #171717;
  text-align: center;
  font-family: "Noto Serif JP", sans-serif;
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .concept__txt {
    font-size: 20px;
    font-weight: bold;
    width: 336px;
    white-space: nowrap;
  }
}

.concept__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .concept__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.concept__left {
  height: 240px;
  width: 440px;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-right: 130px;
  font-family: "Noto Serif JP", sans-serif;
  line-height: 2;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .concept__left {
    font-size: 16px;
    font-weight: bold;
    padding-right: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .concept__left img {
    max-width: 100%;
    padding-right: 4vw;
  }
}

.works {
  background-image: url(../img/works-bgi@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.works__wrap {
  margin: 0 15.2%;
}

@media screen and (max-width: 767px) {
  .works__wrap {
    margin: 0 4vw;
  }
}

.works__ttl {
  color: white;
  font-family: "Noto Serif", sans-serif;
  font-size: 50px;
  font-style: italic;
  text-align: right;
  padding-right: 48px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .works__ttl {
    font-size: 30px;
    font-weight: bold;
    padding-right: 30px;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.works__item {
  border: 1px solid #282f35;
  max-width: 320px;
  -webkit-box-shadow: 0 0 6px black;
          box-shadow: 0 0 6px black;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .works__item {
    max-width: 100%;
  }
  .works__item + .works__item {
    padding-top: 30px;
  }
}

.works__item img {
  vertical-align: bottom;
}

@media screen and (max-width: 767px) {
  .works__item img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.works__txt {
  background-color: white;
  padding: 25px 20px;
  letter-spacing: 0.05em;
}

.works__txt--center {
  padding: 25px 20px 48px 20px;
  background-color: white;
  letter-spacing: 0.05em;
}

.service__wrap {
  width: 100%;
  max-width: 100%;
}

.service__ttl {
  font-size: 50px;
  color: #282f35;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  letter-spacing: 0.1em;
  padding-right: 29px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .service__ttl {
    font-size: 30px;
  }
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .service__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service__item {
  width: 33.3%;
}

@media screen and (max-width: 767px) {
  .service__item {
    width: 100%;
  }
}

.service__item a {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  line-height: 320px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Noto Serif", sans-serif;
}

.service__item a:hover {
  background-color: rgba(40, 47, 53, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service__item.left {
  background-image: url(../img/service-img01@2x.jpg);
}

.service__item.center {
  background-image: url(../img/service-img02@2x.jpg);
}

.service__item.right {
  background-image: url(../img/sevice-img03@2x.jpg);
}

.contact {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  background-image: url(../img/contact-bgi@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__wrap {
  margin: 0 8.2%;
}

@media screen and (max-width: 767px) {
  .contact__wrap {
    margin: 0 4vw;
  }
}

.contact__ttl {
  color: white;
  font-size: 50px;
  font-style: italic;
  font-family: "Noto Serif", sans-serif;
  text-align: right;
  letter-spacing: 0.1em;
  padding-right: 30px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contact__ttl {
    font-size: 30px;
  }
}

.contact__txt {
  color: white;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .contact__txt {
    font-size: 20px;
    padding-bottom: 30px;
  }
}

.footer__wrap {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__txt {
  color: #282f35;
  font-size: 14px;
  font-weight: bold;
  font-family: "Noto Serif", sans-serif;
}
/*# sourceMappingURL=style.css.map */