* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  font-family: "Noto Serif", "Noto Serif JP", sans-serif;
}

.marginTop70 {
  margin-top: 70px;
}

.marginBottom30 {
  margin-bottom: 30px;
}

.btn {
  padding: 19px 71px 18px 71px;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
  border-radius: 51px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Noto Serif", sans-serif;
  text-decoration: none;
  color: #171717;
}

.btn--yellow {
  background-color: #f7d43f;
  border: solid 1px #f7d43f;
}

.btn--center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .main {
    overflow: hidden;
  }
}

.main__txt {
  font-size: 90px;
  color: rgba(23, 23, 23, 0.05);
  text-align: right;
  padding: 70px 0;
}

@media screen and (max-width: 767px) {
  .main__txt {
    font-size: 40px;
    padding-top: 40 0px;
    color: rgba(23, 23, 23, 0.2);
  }
}

.main__txt.--right {
  margin-right: -88px;
}

@media screen and (max-width: 767px) {
  .main__txt.--right {
    margin: 0;
  }
}

.main__txt.--right2 {
  margin-right: 8.2%;
}

@media screen and (max-width: 767px) {
  .main__txt.--right2 {
    margin-left: 4vw;
  }
}

.main__txt.--left {
  text-align: left;
  color: rgba(255, 255, 255, 0.1);
  margin-left: -9.8%;
}

@media screen and (max-width: 767px) {
  .main__txt.--left {
    margin: 0;
  }
}

.main__txt.--left2 {
  color: rgba(255, 255, 255, 0.1);
  text-align: left;
}

.main__ttl {
  font-size: 60px;
  color: #282f35;
  font-style: italic;
  font-weight: bold;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .main__ttl {
    font-size: 30px;
  }
}

.main__ttl::after {
  content: "";
  background-color: #282f35;
  display: inline-block;
  width: 200px;
  height: 5px;
  margin-left: 30px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .main__ttl::after {
    width: 90px;
  }
}

.main__ttl.white {
  color: white;
}

.main__ttl.white::after {
  background-color: white;
}

.main__ttl.right {
  text-align: right;
}

.main__ttl.left {
  padding-left: 220px;
}

@media screen and (max-width: 767px) {
  .main__ttl.left {
    padding-left: 4vw;
  }
}

.br-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .br-pc {
    display: none;
  }
}

.header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.header a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  font-style: italic;
}

.header a:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header.fixed {
  position: fixed;
  background-color: #282f35;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header.transform {
  background-color: #282f35;
}

.header__ttl {
  font-size: 26px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  color: white;
  list-style: none;
}

.nav__list a {
  text-decoration: none;
}

.nav__list a:link, .nav__list a:visited, .nav__list a:hover, .nav__list a:active {
  color: white;
}

.nav__list + .nav__list {
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__toggle {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__toggle {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 25px;
    height: 16px;
  }
}

.nav__toggle i {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  z-index: 3;
}

.nav__toggle i:nth-child(1) {
  top: 0;
}

.nav__toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav__toggle i:nth-child(3) {
  bottom: 0;
}

.nav__toggle.active i:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.nav__toggle.active i:nth-child(2) {
  opacity: 0;
}

.nav__toggle.active i:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
}

.nav2 {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav2 {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #282f35;
  }
  .nav2__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .nav2__item {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    list-style: none;
    text-align: center;
  }
  .nav2__item a {
    text-decoration: none;
    color: white;
  }
  .nav2__item + .nav2__item {
    margin-top: 50px;
  }
}

.nav2.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: block;
}

.fv {
  height: 100vh;
  min-height: 550px;
  position: relative;
}

.fv img {
  height: 100vh;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fv__copy {
  position: absolute;
  left: 120px;
  bottom: 177px;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .fv__copy {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
}

.fv__ttl {
  font-size: 7rem;
}

@media screen and (max-width: 767px) {
  .fv__ttl {
    font-size: 9.8vw;
  }
}

.fv__txt {
  font-size: 4rem;
  text-align: center;
  font-family: "Noto Serif JP", sans-serif;
  margin-top: 31px;
}

@media screen and (max-width: 767px) {
  .fv__txt {
    font-size: 8vw;
  }
}

.slick-arrow {
  display: none !important;
}

.concept__wrap {
  margin: 0 15.2%;
}

@media screen and (max-width: 767px) {
  .concept__wrap {
    margin: 0 4vw;
  }
}

.concept__txt {
  font-size: 30px;
  color: #171717;
  text-align: center;
  margin-top: 70px;
  font-family: "Noto Serif JP", sans-serif;
}

@media screen and (max-width: 767px) {
  .concept__txt {
    font-size: 20px;
    font-weight: bold;
    width: 336px;
    white-space: nowrap;
    margin: 70px auto 0px auto;
  }
}

.concept__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .concept__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.concept__left {
  max-width: 440px;
  line-height: 1.87;
  font-size: 16px;
  padding-right: 20px;
  font-weight: bold;
  font-family: "Noto Serif JP", sans-serif;
}

@media screen and (max-width: 767px) {
  .concept__left {
    padding-right: 0;
    max-width: 100%;
    width: 100%;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .concept__right {
    max-width: 100%;
  }
}

.works {
  background-image: url(https://github.com/haru-programming/coding_practice--2/blob/master/img/works-bgi@2x.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.works__wrap {
  margin: 0 15.2%;
}

@media screen and (max-width: 767px) {
  .works__wrap {
    margin: 0 4vw;
  }
}

.works__ttl {
  color: white;
  font-size: 50px;
  font-style: italic;
  text-align: right;
  padding-right: 48px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .works__ttl {
    font-size: 30px;
    font-weight: bold;
    padding-right: 30px;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.works__item {
  border: 1px solid #282f35;
  max-width: 320px;
  -webkit-box-shadow: 0 0 6px black;
          box-shadow: 0 0 6px black;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .works__item {
    max-width: 100%;
  }
  .works__item + .works__item {
    margin-top: 30px;
  }
}

.works__item img {
  vertical-align: bottom;
}

@media screen and (max-width: 767px) {
  .works__item img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.works__txt {
  background-color: white;
  padding: 25px 20px;
  letter-spacing: 0.05em;
  font-family: "Noto Serif JP", sans-serif;
}

.works__txt--center {
  padding: 25px 20px 48px 20px;
  background-color: white;
  letter-spacing: 0.05em;
}

.service__wrap {
  width: 100vw;
  max-width: 100%;
}

.service__ttl {
  font-size: 50px;
  color: #282f35;
  font-style: italic;
  letter-spacing: 0.1em;
  padding-right: 29px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .service__ttl {
    font-size: 30px;
  }
}

.service__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .service__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service__list {
  width: 33.3%;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .service__list {
    width: 100%;
  }
}

.service__list a {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  line-height: 320px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service__list a:hover {
  background-color: rgba(40, 47, 53, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service__list.left {
  background-image: url(../img/service-img01@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service__list.center {
  background-image: url(../img/service-img02@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service__list.right {
  background-image: url(../img/sevice-img03@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .service__list + .service__list {
    margin-top: 30px;
  }
}

.contact {
  margin-top: 70px;
  width: 100%;
  background-image: url(../img/contact-bgi@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__wrap {
  margin: 0 8.2%;
}

@media screen and (max-width: 767px) {
  .contact__wrap {
    margin: 0 4vw;
  }
}

.contact__ttl {
  color: white;
  font-size: 50px;
  font-style: italic;
  text-align: right;
  letter-spacing: 0.1em;
  padding-right: 30px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contact__ttl {
    font-size: 30px;
  }
}

.contact__txt {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Noto Serif JP", sans-serif;
}

@media screen and (max-width: 767px) {
  .contact__txt {
    font-size: 20px;
  }
}

.footer__wrap {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.footer__txt {
  color: #282f35;
  font-size: 14px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */